.smalltext{
  font-size: 12px;
}

.firstcol{
  width: 50%;
}

.lastcol{
  width: 5%;
  text-align: center;
}

#background{
  background:
    linear-gradient(rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)),
    url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: cover;
  color: white;
}

.trash :hover{
  color: red;
  transition: all 0.4s;
}
